/**
 * CSS for new sections that were added after
 * the theme release
 */

/**
 * Contact form
 */
 /**
  * 4.2 - About Section
  */
.sec-contact {
	background-color: #2e910e;
	color: #fff;
}
.sec-contact .section-title {
	color: #fff;
	border-color: #76bc1c;
}
.sec-contact .section-title,
.sec-contact .section-description {
	max-width: 100%;
}
.sec-contact-info > *:last-child,
.sec-contact-form > *:last-child,
.sec-contact-form form > *:last-child,
.sec-contact-form form > p:nth-last-of-type(1),
.sec-contact .section-description > *:last-child {
	margin-bottom: 0;
}
.sec-contact-form {
	font-size: 16px;
}
.sec-contact-form textarea {
	height: 9em;
}
.sec-contact .grid-items > div.sec-contact-box:nth-child(2n) {
	margin-right: 0;
}
.sec-contact .grid-items > div.sec-contact-box:nth-child(2n+1) {
	clear: both;
}

/* Social Buttons */
.sec-contact-social a {
	float: left;
	background-color: rgba(255,255,255,.2);
	color: #fff;
	line-height: 3.333em;
	width: 3.333em;
	text-align: center;
	border-radius: 0.222em;
	margin: 0 2px 2px 0;
}
.sec-contact-social a:hover {
	color: #fff;
	background-color: rgba(255,255,255,.4);
}
.sec-contact-social-btn.scsb-with-span {
	width: auto;
	padding-left: 0.833em;
	padding-right: 0.833em;
}
	/**
	 * Contact form 7
	 */
	.sec-contact-form .wpcf7-submit {
		width: 100%;
		box-shadow: 0 0 1.875em rgba(0,0,0,.3);
	}
	.sec-contact-form div.wpcf7 .ajax-loader {
		background-color: #fff;
		border-radius: 100%;
		display: none;
	}
	.sec-contact-form div.wpcf7 .ajax-loader.is-active {
		display: inline-block;
	}
	.sec-contact-form .wpcf7-not-valid-tip {
		background-color: #fff;
		border-radius: 4px;
		padding: 4px;
		opacity: .9;
	}
	.sec-contact-form .wpcf7-response-output {
		text-align: center;
	}


/*.sec-about-box {
	padding-bottom: 1em;
}
.sec-about-box:after {
	content: "";
	display: inline-block;
	position: absolute;
	width:40%;
	height: 1px;
	bottom: -4px;
	left: 0;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}
.sec-about .section-title, .sec-about-box:after {
	border-color: #e51638;
}
.sec-about-box h3 {
	margin-bottom: 0.6em;
}
.sec-about-box p, .sec-about-box-figure {
	margin-bottom: 1.5em;
}
.sec-about-box a, .sec-about-box a:hover, .sec-about-box a:focus, .sec-about-box a:active {
	color: #ffffff;
}
.sec-about-box a:hover {
	text-decoration: underline;
}
.sec-about .about-button {
	width: 100%;
	text-align: center;
	margin-bottom: 5em;
}
.sec-about .about-button .ac-btn.btn-opaque {
	box-shadow: inset 0 0 0 3px rgba(229,22,56,1);
	background-color: rgba(229,22,56,0.5);
}
.sec-about .about-button .ac-btn.btn-opaque:hover {
	background-color: rgba(229,22,56,1);
}
.sec-about .grid-items > div.sec-about-box:nth-child(2n) {
	margin-right: 0;
}
.sec-about .grid-items > div.sec-about-box:nth-child(2n+1) {
	clear: both;
}*/
